*
{
    background-color: burlywood;
}

.hao
{
    background-color: darkorange;
}

#name
{
    background-color: aquamarine;
}

p
{
    background-color: firebrick;
}

h1
{
    color: cornflowerblue;
}